.nav {
	background-color: $gray;
	padding: 17px 0 16px 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
}

.nav.fix {
	background-color: lighten($black, 10%);
	color: #fff;
	transition: 0.3s ease-in;
}

.nav__list {
	@include flex(center, center);
	flex-wrap: wrap;
}

.nav__item {
	&:not(:last-child) {
		margin-right: 30px;
	}
}

.nav__link {
	&:hover {
		text-decoration: underline;
	}
}